@tailwind base;
@tailwind components;
@tailwind utilities;

.animated.fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.scrollbar {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.scrollbar::-webkit-scrollbar {
  display: none; 
  width: 1px;
  scrollbar-width: thin;
}

.hover\:scrollbar:hover {
  scrollbar-width: thin; /* Firefox */
  -ms-overflow-style: auto; /* IE and Edge */
}

.hover\:scrollbar:hover::-webkit-scrollbar {
  display: block;
  width: 6px; 
}

.hover\:scrollbar:hover::-webkit-scrollbar-track {
  background: transparent;
}

.hover\:scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgb(233, 213, 255); 
  border-radius: 20px;
}


.custom-scrollbar {
  scroll-behavior: smooth;
  transition: overflow-y 0.3s ease-in-out; 
}

.custom-scrollbar:hover {
  overflow-y: auto;
  transition: opacity 200ms ease-in-out; 
}

.custom-scrollbar::-webkit-scrollbar {
  scroll-behavior: smooth;
  display: none;
  width: 6px; 
  background: transparent;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.custom-scrollbar:hover::-webkit-scrollbar {
  opacity: 1; 
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  width: 8px;
  background-color: #555;
}

@layer utilities {

  .no-spin::-webkit-outer-spin-button,
  .no-spin::-webkit-inner-spin-button {
    @apply appearance-none m-0;
  }

  .no-spin[type='number'] {
    @apply appearance-none;
  }
}
